<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.logic.chat">

  <application>
    <activity android:name=".chatroom.ChatRoomActivity" />
    <activity android:name=".contact.ContactActivity" />
    <activity android:name=".sport_group.SportGroupActivity" />
    <!--网易IM-->
    <meta-data
      android:name="com.netease.nim.appKey"
      android:value="07887bbbbd9bbaa62162da9e90a91d62" /> <!-- 云信后台服务，请使用独立进程。 -->
    <service
      android:name="com.netease.nimlib.service.NimService"
      android:process=":core" /> <!-- 云信后台辅助服务 -->
    <service
      android:name="com.netease.nimlib.service.NimService$Aux"
      android:process=":core" /> <!-- 云信后台辅助服务 -->
    <service
      android:name="com.netease.nimlib.job.NIMJobService"
      android:exported="true"
      android:permission="android.permission.BIND_JOB_SERVICE"
      android:process=":core" /> <!-- 云信监视系统启动和网络变化的广播接收器，保持和 NimService 同一进程 -->
    <receiver
      android:name="com.netease.nimlib.service.NimReceiver"
      android:exported="false"
      android:process=":core">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
      </intent-filter>
    </receiver> <!-- 云信进程间通信 Receiver -->
    <receiver android:name="com.netease.nimlib.service.ResponseReceiver" /> <!-- 云信进程间通信service -->
    <service android:name="com.netease.nimlib.service.ResponseService" /> <!-- 云信进程间通信provider -->
    <!-- android:authorities="{包名}.ipc.provider", 请将com.netease.nim.demo替换为自己的包名 -->
    <!--android:authorities="com.logic.jellyfish.sample.ipc.provider"-->
    <provider
      android:name="com.netease.nimlib.ipc.NIMContentProvider"
      android:authorities="com.logic.jellyfish.sample.ipc.provider"
      android:exported="false"
      android:process=":core" />
    <!--网易IM-->
  </application>
</manifest>
