<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.logic.login">

  <application>
    <activity android:name="com.logic.login.login.LoginActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="com.logic.login.forget.ForgetActivity" />
    <activity android:name="com.logic.login.register.RegisterActivity" />
  </application>
</manifest>
