page {
	background-color: #F5F5F5;
}

.info-box {
	padding: 20rpx;
	background-color: #FFFFFF;
}

.icon text {
	font-size: 12px;
	color: #999;
	margin-right: 20rpx;
}

/*关注*/

.user-item {
	height: 80rpx;
	margin: 20rpx 0 20rpx 0;
}

.user-item image {
	width: 80rpx;
	height: 80rpx;
	float: left;
	margin-right: 10rpx;
	border-radius: 50%;
}

.user-item-user {
	height: 80rpx;
	float: left;
}

.cxplain {
	font-size: 12px;
	color: #999;
	line-height: 100%;
}

/*评论列表*/
.divider {
	margin: 40rpx;
}

.comment-item {
	display: flex;
	margin-bottom: 40rpx;
}

.comment-item .c-content {
	display: flex;
	flex-direction: column;
}

.comment-item .c-content .c-txt {
	font-size: 12px;
	color: #616161;
}

.comment-item .time {
	margin-left: auto;
	color: #999;
	font-size: 10px;
}

.comment-item .avatar {
	width: 100rpx;
	height: 100rpx;
	border-radius: 50%;
	border: 1px solid #DD524D;
	margin-right: 20rpx;
}


/*底部操作*/
.p-footer {
	margin-top: 20rpx;
	display: flex;
}

.p-footer .topic-name {
	font-size: 20rpx;
	color: #8687fd;
	background-color: #e6e6ff;
	border-radius: 10rpx;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10rpx 20rpx;
}

.p-footer .btn {
	border: 1px solid #F5F5F5;
	padding: 10rpx 20rpx;
	border-radius: 20rpx;
}

.p-footer .btn text {
	margin: 0 5rpx;
}

.m-left-auto{
	margin-left: auto;
}
.m-right-20{
	margin-right: 20rpx;
}
/*评论*/
.comment-box {
	padding: 20rpx;
	background-color: #FFFFFF;
	margin-top: 20rpx;
}

.comment-box>.title {
	margin-bottom: 20rpx;
}

/*文章图片*/
.img-style-1 {
	display: block;
	width: 100%;
	max-height: 600rpx;
	border-radius: 5px;
}

.img-style-2 {
	display: flex;
}

.img-style-2 image {
	margin: 5rpx;
	border-radius: 5px;
	width: 100%;
	height: 294rpx;

}

.img-style-3 {
	display: flex;
	flex-wrap: wrap;
}

.img-style-3 image {
	width: 31.3%;
	height: 200rpx;
	margin: 1%;
	border-radius: 5px;
}

/* 评论tool */
.comment-tool {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	padding: 20rpx;
	display: flex;
	z-index: 999;
}

.comment-tool textarea {
	background-color: #f5f5f5;
	padding: 20rpx;
	border-radius: 10rpx;
	min-height: 40rpx;
}

.comment-tool .u-btn {
	margin-left: 10rpx;
}
